  "interface": [
{% for name, int_details in interfaces.items() %}
    {
      "name": "{{ name }}",
      {% if int_details['ip_address'] is not defined %}
      "vlan-tagging": true,
      {% endif %}
      "description": "{{ int_details['description'] }}",
      "admin-state": "enable",
      "subinterface": [
        {
          "index": "{{ int_details['unit'] | int }}",
          "admin-state": "enable",
          {% if int_details['ip_address'] is defined %}
          "ipv4": {
            "admin-state": "enable",
            "address": [
              {
                "ip-prefix": "{{ int_details['ip_address'] | default('') }}"
                {% if 'irb' in name %}
                ,"anycast-gw": true
                {% endif %}
              }
            ]
          {% if 'irb' in name %}
          {% include "./irb-interfaces.json.j2" %}
          {% endif %}
          }
          {% else %}
          "type": "bridged",
          "admin-state": "enable",
          "vlan": {
            "encap": {
              "untagged": {
              }
            }
          }
        {% endif %}
        }
      ]
    }{{ "," if not loop.last else "" }}
  {% endfor %}
  ]
