  "tunnel-interface": [
    {
      "name": "vxlan1",
      "vxlan-interface": [
        {
          "index": 1,
          "type": "bridged",
          "ingress": {
            "vni": 1
          }
        }
      ]
    }
  ]
