[defaults]
inventory=hosts.yml
gathering = explicit
host_key_checking = False
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/root/cookbook-lab/chapters/roles
vault_password_file=./decrypt_password