  {% for leaf_switch in groups['leafs'] %}
  {%     for int_data in hostvars[leaf_switch]['interfaces'].values() %}
  {%         if int_data['vlan'] is defined %}
  vlan {{ int_data['vlan'] }}
    rd {{ hostvars[leaf_switch]['interfaces']['Loopback0']['ip_address'] | split('/') | first }}:10{{ int_data['vlan'] }}
    route-target both 10{{ int_data['vlan'] }}:10{{ int_data['vlan'] }}
    redistribute learned
  {%         endif %}
  {%     endfor %}
  {% endfor %}
