---
interfaces:
  # mgmt0:
  #   unit: 0
  #   ip_address: "198.51.100.31/24"
  #   description: "CLAB-MGMT-NETWORK"
  #   vrf: "default"
  ethernet-1/1:
    unit: 0
    ip_address: "172.31.2.4/31"
    description: "SPINE-TO-CORE-CRPD-01/ETH1"
    vrf: "default"
  ethernet-1/2:
    unit: 0
    ip_address: "172.31.2.6/31"
    description: "SPINE-TO-CORE-CRPD-02-ETH1"
    vrf: "default"
  ethernet-1/3:
    unit: 0
    ip_address: "192.168.11.2/30"
    description: "SPINE-TO-LEAF-SRL-02-e1/1.0"
    vrf: "default"
  ethernet-1/4:
    unit: 0
    ip_address: "192.168.12.2/30"
    description: "SPINE-TO-LEAF-SRL-03-e1/1.0"
    vrf: "default"
  system0:
    unit: 0
    ip_address: "10.20.1.1/32"
    description: "LOOPBACK FOR ROUTER ID"
    vrf: "default"
bgp:
  asn: 65200
  peer_groups:
    underlay:
      - peer: srl-02
        ip_address: 192.168.11.1
        remote_as: 65101
      - peer: srl-03
        ip_address: 192.168.12.1
        remote_as: 65102
    core:
      - peer: crpd-01
        ip_address: 172.31.1.5
        remote_as: 65400
      - peer: crpd-02
        ip_address: 172.31.1.7
        remote_as: 65400
